* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.logo a {
    text-decoration: none;
    font-family: "Monserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    width: 484px;
}

.menu-item {
    list-style: none;
    text-transform: uppercase;
    position: relative;
}

.menu-item::after {
    content: "";
    top: 46px;
    display: none;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #f38181;
    transition: all, 0.2s linear;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item a {
    color: #9ce3d6;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    transition: all, 0.2s linear;
}

.menu-item:hover a,
.menu-item:hover.menu-item::after {
    display: block;
    color: #f38181;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    margin-bottom: 8px;
}

.section-title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #333333;
    position: relative;
    margin-bottom: 102px;
}

.section-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 73px;
    left: 574px;
    width: 60px;
    height: 3px;
    background-color: #f38181;

}

.services {
    padding-bottom: 90px;
}

.services-provided {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    min-height: 235px;
    align-content: space-between;
}

.service-description{
    max-width: 306px;
    width: 33%;
    position: relative;
    padding-left: 86px;
}

.service-description p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #666666;
}

.item-1::before {
    content: url(../img/ALARM.png);
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    left: 25px;
}

.item-2::before {
    content: url(../img/LINE\ GRAPH.png);
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    left: 25px;
}

.item-3::before {
    content: url(../img/COMPUTER\ _\ OK.png);
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    left: 25px;
}

.item-4::before {
    content: url(../img/BOOK\ 2.png);
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    left: 25px;
}

.item-5::before {
    content: url(../img/HOME.png);
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    left: 25px;
}

.item-6::before {
    content: url(../img/IMAGE.png);
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    left: 25px;
}

.team {
    padding-bottom: 60px;
}

h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.team-description {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #666666;
    text-align: center;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 78px;
}

.team-members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-effects:hover.card-effects {
    transform: translate(-10px,-10px);
}

.member-photo {
    position: relative;
    z-index: 0;
    font-size: 0;
}

.card-background {
    background: #9ce3d6;
}

.card-effects {
    transition: all 0.2s linear;
    position: relative;
    margin-bottom: 30px;
    background: #95e1d3;
}

.member-photo::before{
    content: '';
    background: linear-gradient(to bottom,#f38181,#fce38a);
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.7;
    display: none;
    transition: all 0.2s linear;
}

.social-networks {
    justify-content: center;
    position: absolute;
    top: 44%;
    left: 18%;
    display: none;
    z-index: 2;
}

.network-item {
    width: 58px;
    height: 58px;
    background-color: #fce38a;
    outline: none;
    text-decoration: none;
    border: none;
    margin-right: 2px;
    cursor: pointer;
}

.network-item:last-child {
    margin-right:0;
}

.network-item:hover {
    background-color: #95e1d3;
    transition: all, 0.2s linear;
}

.member-name {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.member-sphere {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}

.card-effects:hover .member-photo::before,
.card-effects:hover .member-photo::after {
    display: block;
}

.card-effects:hover .social-networks {
    display: flex;
}

.company-info a {
    outline: none;
    text-decoration: none;
    color: none;
    color:#f38181;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
    border-top: #e5e5e5 1px solid;
}

.company-info {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

form {
    font-size: 0;
}

.email-text {
    border: #e7e7e7 1px solid;
    padding: 10px 65px 11px 12px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    margin-right: 0;
    outline: none;
}

.submit-button {
    background-color: #95e1d3;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 32px;
    outline: none;
    border: none;
    cursor: pointer;

}

.submit-button:hover {
    background-color: #f38181;
    transition: all, 0.2s linear;
}

.submit-button:active {
    transform: translateX(2px) 
}