.wrapper {
    width: 919px;
    margin: 0 auto;
    padding-bottom: 50px;
}

header {
    padding-top: 78px;
    padding-bottom: 104px;
}

.menu {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menu-item{
    display: inline-block;
    width: 20%;
    list-style: none;    
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Playfair Display", serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #626262;
}

a:hover {
    color: #25b4f5;
}

main {
    width: 100%;
    margin: 0 auto;
}

section {
    padding-bottom: 130px;
    margin: 0 auto;
    width: 100%;
    font-size: 0;
}

img {
    margin-bottom: 30px;
}

.blog-article {
    display: inline-block;
    width: 46.19%;
    max-width: 420px;
}

.blog-article:nth-child(odd) {
    margin-right: 79px; 
}

.section-title {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #626262;
    font-size: 14px;
    font-weight: 200;
    opacity: 0.5;
    margin: 0 0 10px 0;
}

.article-title {
    font-family: "Playfair Display", serif;
    color: #626262;
    font-weight: 400;
    font-size: 30px;
    margin:0 0 20px 0;
}

.text-content {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;
    line-height: 25px;
    margin: 0 auto;
}

footer {
    margin: 0 auto;
}

button {
    display: block;
    margin: 0 auto;
    padding: 14px 33px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    background-color: #ffffff;
    color:#626262;
    border: 1px solid #626262;
    cursor: pointer;
    outline: none;
}


button:hover {
    background-color: #626262;
    color: #ffffff;
}

button:active {
  transform: translateY(1px);
}

