ul li{
    display: inline-block;
    width: 210px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    margin-bottom: 60px;
    margin-top: 60px;
}

header {
    width: 100%;
}

a {
    text-decoration: none;
    color: #626262;
}

a:hover {
    color: blue;
}

.blog-article {
    display: inline-block;
    width: 420px;
    height: 481px;
    margin: 20px;
}

main {
    width: 100%;
}

.wrapper {
    width: 930px;
    margin: 0 auto;
}

button {
    display: block;
    width: 165px;
    height: 60px;
    padding: 14px 33px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    background-color: #ffffff;
    color:#626262;
    border: 1px solid #626262;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #626262;
    color: #ffffff;
}

button:active {
  transform: translateY(1px);
}

.section-title {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #626262;
    font-size: 14px;
    font-weight: 200;
}

.article-title {
    font-family: "Playfair Display", serif;
    color: #626262;
    font-weight: 400;
    font-size: 30px;
}

.text-content {
    font-family: "Playfair Display", serif;
    color: #626262;
}

.additional-info {
    margin-top: 50px;
}