.wrapper {
    width: 930px;
    margin: 0 auto;
}

nav {
    width: 570px;
    margin: 0 auto;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu-item{
    align-items: center;
    list-style: none;    
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    margin-bottom: 65px;
    margin-top: 78px;
}

a {
    text-decoration: none;
    color: #626262;
}

a:hover {
    color: #25b4f5;
}

main {
    width: 100%;
}

.blog-article {
    display: inline-block;
    width: 420px;
    height: 481px;
    margin: 20px 20px 105px 20px;
}
.section-title {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #626262;
    font-size: 14px;
    font-weight: 200;
    opacity: 0.5;
}

.article-title {
    font-family: "Playfair Display", serif;
    color: #626262;
    font-weight: 400;
    font-size: 30px;
}

.text-content {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;
    line-height: 25px;
}

.additional-info {
    margin-bottom: 72px;
}

button {
    display: block;
    width: 165px;
    height: 60px;
    padding: 14px 33px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    background-color: #ffffff;
    color:#626262;
    border: 1px solid #626262;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #626262;
    color: #ffffff;
}

button:active {
  transform: translateY(1px);
}

