body {
    margin: 0;
    padding: 0;

}

.logo-and-nav {
    max-width: 1120px;
    margin: 0 auto;
}

.logo {
    display: block;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    float:left;
    text-transform: uppercase;
}

.logo:first-letter {
    color: #1abc9c;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

nav {
    overflow: hidden;
    padding-top: 36px;
    padding-bottom: 36px;
}


.menu-list {
    padding: 0;
    float: right;
    margin: 0;
}

.menu-item {
    float: left;
    font-size: 14px;
    list-style: none;
    margin-right: 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0101;
}

.menu-item:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: #0f0101;
}

.menu-item a:hover {
    color: #1abc9c;
}

.slider {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/slide4.png);
    height: 600px;
    width: 1600px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.slider-content {
    width: 750px;
    margin: 0 auto;
}

.slider-text {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

h2 {
    font-size: 58px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 18px;
}

.slider-content p {
    font-size: 23px;
    font-weight: 200;
    margin: 0;
    text-align: left;
}


.previous {
    position: absolute;
    left: 15%;
    bottom: 5%;
}

.next {
    position: absolute;
    right: 15%;
    bottom: 5%;
}

button {
    border: none;
    background-color: #55a290;
    padding: 32px 41px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}
.new-collection {
    background-color: #e9f0fd;
    padding-bottom: 100px;
    padding-top: 60px;
    
}
.section-title {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #555252;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
    margin-bottom: 110px;
}

.section-title:after {
    content:'';
    display: block;
    position: absolute;
    right: 44.8%;
    top: 135%;
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
}

.collection-cards {
    max-width: 1120px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.product-card {
    float: left;
    margin-right: 33px;
    margin-left: 0;
    max-height: 323px;
    cursor: pointer;
    position: relative;
    font-size: 0;
}

.product-card:last-child {
    margin-right: 0;
}

.product-card:hover .card-additional-info {
    display: block;
}

.product-card:hover .product-name {
    background-color:#1abc9c;
    
}

.product-card:hover .product-price {
    background-color:#7fd9c7;
    
}

.product-name {
    position: relative;
    top: -40px;
    max-width: 255px;
    background-color: #323232;
    height: 40px;
    z-index: 4;

}

.card-name {
    position: absolute;
    left: 14px;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

.product-price {
    position: absolute;
    width: 21%;
    height: 40px;
    line-height: 40px;
    left: 79.1%;
    background-color: #8c8c8c;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 900;
}

.product-image {
    position: relative;
    z-index: 1;
}

.card-additional-info {
    position: absolute;
    width: 255px;
    height: 323px;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.35);
    z-index: 2;
    display: none;
}

.card-background {
    content: "";
    position: absolute;
    background-color: rgb(17, 2, 2);
    border:rgb(255, 255, 255) solid 10.5px;
    z-index: -1;
    width: 234px;
    height: 263px;
    bottom: 12%;
    opacity: 0.6;
}

.additional-options {
    position: absolute;
    top: 26%;
    right: 19%;
}

.favourite , .arrows-button , .time-button {
    background-color: transparent;
    border: #ffffff solid 1px;
    margin-right: 6px;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    padding: 0; 
    cursor: pointer;
}

.time-button {
    margin-right: 0;
}

.cart-button {
    position: absolute;
    background-color: #323232;
    text-transform: uppercase;
    color: #ffffff;
    bottom: 39%;
    left: 17%;
    border: #ffffff solid 1px;
    padding: 11px 14px;
    cursor: pointer;
}

.cart-button:hover {
    background-color: #1abc9c;
    border: none;
}

.cart-button img {
    margin-right:15px;
    vertical-align: middle;
}
.btn-text {
    vertical-align: middle;
}

.favourite:hover , .arrows-button:hover , .time-button:hover {
    background-color: #1abc9c;
    border: none;
}

footer {
    background-color: #323232;
    text-align: center;
    padding: 34px;
}

.company-info {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #fefefe;
}

.company-name {
    color: #1abc9c;
}