body {
    margin: 0;
    padding: 0;

}


.wrapper {
    width: 1120px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    float:left;
    text-transform: uppercase;
    margin:0;
}

.logo:first-letter {
    color: #1abc9c;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

header {
    height: 122px;
}

.menu-list {
    padding: 0;
    float: right;
    margin: 0;
    overflow: hidden;
}

.menu-item {
    float: left;
    font-size: 14px;
    list-style: none;
    margin-right: 32px;
    margin-top:8px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0101;
}

.menu-item:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: #0f0101;
}

.menu-item a:hover {
    color: #1abc9c;
}

.gallery {
    padding-bottom: 30px;
    width: 100%;
}

.gallery-cards {
    overflow: hidden;
    font-size: 0;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #555252;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    position: relative;
}

.featured-products{
    margin: 0;
    padding-bottom: 116px;
}

.featured-products:after {
    content:'';
    display: block;
    position: absolute;
    right: 43%;
    top: 44%;
    bottom: 10%;
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
}

.product-card {
    float: left;
    margin-right: 33px;
    margin-bottom: 30px;
    margin-left: 0;
    max-height: 323px;
}

.product-card:nth-child(4n+4) {
    margin-right:0;
}

.second-line-cards .product-card{
    margin-bottom: 0;
}

.first-line-cards {
    overflow: hidden;
}
.second-line-cards {
    overflow: hidden;
}

.product-card:hover {
    cursor: pointer;
}

.product-card:hover .product-name {
    background-color:#1abc9c;
    cursor: pointer;
}

.product-card:hover .product-price {
    background-color:#7fd9c7;
    cursor: pointer;
}

.product-name {
    position: relative;
    top: -40px;
    max-width: 255px;
    background-color: #323232;
    height: 40px;

}

.card-name {
    position: absolute;
    left: 14px;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

.product-price {
    position: absolute;
    width: 21%;
    height: 40px;
    line-height: 40px;
    left: 79.1%;
    background-color: #8c8c8c;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 900;
}

.blog-section {
    padding-bottom: 83px;
    clear:both;
    overflow: hidden;
}

.latest-news-title {
    clear:both;
    padding-top: 62px;
    padding-bottom: 107px;
    margin:0;
}

.latest-news-title:after {
    content:'';
    display: block;
    position: absolute;
    right: 43.5%;
    top: 61.9%;
    bottom: 10%;
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
}

.articles {
    overflow: hidden;
}

.blog-article {
    float: left;
    width:100%;
    max-width: 351px;
    margin-right: 33.5px;

}

.blog-article:last-child {
    margin-right: 0;
}

.blog-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top:0;
    padding-top: 8px;
    position: relative;
}

.blog-name:after {
    content:'';
    display: block;
    position: absolute;
    top: 121%;
    background-color: #1abc9c;
    width: 137px;
    height: 3px;
}

.blog-text {
    font-family: "Open Sans" , sans-serif;
    font-size: 13px;
    margin-top:0;
    padding-top: 21px;
    margin-bottom: 10px;
    line-height: 25px;

}

button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 40px;
    background-color: #4ec6ab;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

button:active {
    transform: translateY(2px);
}