* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.login-menu {
    list-style: none;
    text-align: center;
}

header {
    background: url(../img/back3.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 1em;
    padding-bottom: 8.7em;
    
}

nav {
    margin-bottom: 7em;
}

.menu-item {
    display: inline-block;
}

.menu-item {
    padding: 8px 15px;
    outline: none;
    border: 2px solid transparent;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.menu-item:hover {
    border: 2px solid #ffffff;
    border-radius: 40px;
}

.menu-item:active {
    transform: translateY(.2em);
}

.menu-item:focus {
    outline: none;
}

.site-name {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 1.5em;
    text-align: center;
    font-family: "Montserrat" , sans-serif;
    font-weight: 600;
    letter-spacing: .02em;
}

.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 auto .2em auto;
    font-weight: 700;
}

.title-add {
    color: #ffffff;
    font-size: 18px;
    margin: 0 auto 1em auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 85%;
}

.header-text {
    text-align: center;
}

.find-btn {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
    background: #ff4e50;
    padding: 1em 4em;
    border: none;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.find-btn:active {
    transform: translateY(.2em);
}

.find-btn:focus {
    outline: none;
}

.partners {
    padding-top: 4em;
    text-align: center;
    padding-bottom: 2em;
}

h3 {
    font-weight: 700;
    font-size: 14px;
    margin: 0 auto .8em auto;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    width: 70%;
    font-weight: 400;
    color: #666666;
    
}

img {
    margin-bottom: .8em;
}

.partner-title {
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
    font-size: 22px;
    margin: 0 auto .5em auto;
}
.partner {
    margin-bottom: 1.8em;
}

.partners ul {
    list-style: none;
}

.item-1 {
    position: relative;
}
.item-2 {
    position: relative;
}
.item-3 {
    position: relative;
}
.item-4 {
    position: relative;
}

.item-1::before {
    content: url(../img/partner1-add.png);
    position: absolute;
    left: 58%;
    bottom: 35%;
    border: 5px solid #ffffff;
    border-radius:60px;
    font-size: 0;
}

.item-2::before {
    content: url(../img/partner2-add.png);                                                                                                                                 
    position: absolute;
    left: 58%;
    bottom: 45%;
    border: 5px solid #ffffff;
    border-radius:60px;
    font-size: 0;
}

.item-3::before {
    content: url(../img/partner3-add.png);                                                                                                                                 
    position: absolute;
    left: 57%;
    bottom: 37%;
    border: 5px solid #ffffff;
    border-radius:60px;
    font-size: 0;
}

.item-4::before {
    content: url(../img/partner4-add.png);                                                                                                                              
    position: absolute;
    left: 57%;
    bottom: 36%;
    border: 5px solid #ffffff;
    border-radius:60px;
    font-size: 0;
}

.load-partners {
    padding: .6em 5em;
    outline: none;
    border: 2px solid #ff4e50;
    background: transparent;
    text-decoration: none;
    border-radius: 30px;
    color: #ff4e50;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.load-partners:active {
    transform: translateY(.2em);
}

.load-partners:focus {
    outline: none;
}

@media(min-width:768px) {
    .main-info{
        justify-content: space-between;
        flex-direction: row-reverse;
        margin: 0 auto 8em auto;
    }

    header {
        max-height: 702px;
        padding-bottom: 15em;
        padding-top: 3em;
    }

    nav {
        margin-bottom: 0;
    }

    .menu-item button {
        margin: 0;
    }

    .site-name {
        margin: 0;
    }

    h2 {
        margin: 0 auto;
        font-size: 50px;
        margin-bottom: .5em;
    }
    
    .title-add {
        font-size: 24px;
        margin-bottom: 1.2em;
    }

    .find-btn {
        padding: .7em 2em;
    }

    .partner-title {
        margin: 0 auto 1.5em auto;
    }

    .partners ul{
        justify-content: center;
        list-style: none;
        margin-bottom: 2.5em;
    }

    .partner {
        margin-bottom: 3.5em;
    }

    .item-2 {
        order:3;
        margin-bottom: 0;
    }

    .item-3 {
        order:2;
    }

    .item-4 {
        order: 4;
        margin-bottom: 0;
    }

    .item-1 {
        order:1;
    }

    .item-1::before {
        bottom: 43%;
        left: 59%; 
      }
  
      .item-2::before {
        bottom: 46%;
        left: 59%;
        }
  
      .item-3::before {
        bottom: 44%;
        left: 59%;
      }
  
      .item-4::before {
        bottom: 45%;
        left: 59%; 
      }

    .load-partners {
        padding: .6em 2em;
    }
}

@media (min-width: 1024px) {

    header {
        background-position: center;
        padding-bottom: 14.5em;
        padding-top: 2em;
    }

    .main-info {
        margin: 0 auto 8.5em auto;
    }

    .site-name {
        margin-bottom: 0;
    }
    .partners ul {
        margin-bottom: 3em;
    }

    .partner {
        margin-bottom: 0;
    }

    h4 {
        width: 100%;
    }

    .item-1::before {
      bottom: 46%;
      left: 61%; 
    }

    .item-2::before {
      bottom: 46%;
      left: 61%;
      }

    .item-3::before {
      bottom: 46%;
      left: 60%;
    }

    .item-4::before {
      bottom: 46%;
      left: 61%; 
    }
}